<div class="container pt pb">
  <h2 class="text-center">{{title}}</h2>

  <div class="container-mod">

    <mat-form-field appearance="fill" class="busca">
      <mat-icon matPrefix>search</mat-icon>
      <mat-label class="text-dark">Buscar moedas</mat-label>
      <input matInput [(ngModel)]="busca" (input)="buscarCoins($event)" placeholder="Ex.: BRL ou Brazilian Real" #input
        (keydown.enter)="input.blur()" />
      <mat-icon (click)='limparBusca()' *ngIf="busca" matSuffix>close</mat-icon>
    </mat-form-field>

  </div>

  <div *ngIf="loading" class="text-center mt-3">
    <div class="spinner-border text-success" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
    <p>Carregando...</p>
  </div>

  <div class="text-center mt-4 mb-4" *ngIf="!loading && dataSource.data.length && dataSource.filteredData.length === 0">
    <img src="../../assets/images/no-coins.png" width="200px">
    <p>Nenhuma moeda encontrada com a busca realizada.</p>
  </div>

  <!-- *ngIf="!loading && dataSource.data.length && dataSource.filteredData.length > 0" -->

  <table mat-table [dataSource]="dataSource"
    [hidden]="!(!loading && dataSource.data.length && dataSource.filteredData.length > 0)"
    class=" table mt-4 table-rounded "  matSort>

    <ng-container matColumnDef="code">
      <th class="fw-bolder fs-6" mat-header-cell *matHeaderCellDef mat-sort-header title="ordenar">
        Símbolo
      </th>
      <td mat-cell *matCellDef="let row">{{ row.code }}</td>
    </ng-container>

    <ng-container matColumnDef="description">
      <th class="fw-bolder fs-6" mat-header-cell *matHeaderCellDef mat-sort-header>
        Descrição
      </th>
      <td mat-cell *matCellDef="let row">{{ row.description }}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr class="fw-bold fs-1" mat-row *matRowDef="let row; columns: displayedColumns"></tr>

  </table>

  <div class="container-mod paginator-controls" [hidden]="!(!loading && dataSource.data.length && dataSource.filteredData.length > 0)">
    <mat-paginator [pageSizeOptions]="[5, 10, 15, 20, 25, 30]" showFirstLastButtons class="custom-mat-select"></mat-paginator>
  </div>
</div>