.pt {
    padding-top: 80px;
}

.pb {
    padding-bottom: 30px;
}

mat-paginator{
    background-color: transparent;
    color: #fff;

}
/* label {
    color: #fff;
    padding: 10px;
}

.table-rounded {
    border-radius: 5px;
    overflow: hidden;
}

.thread-color {
    background-color: #127369;
    color: #fff;
} */

.container-mod {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    background-color: #127369;
    padding: 20px;
    border-radius: 5px;
    padding-bottom: 0;
}

.busca {
    cursor: pointer;
    margin: 0 auto;
    width: 500px;
}

.responsive-paginator {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
}

.wrapper {
    max-height: 40rem;
}

td,
th {
    width: 25%;
   
}

th{
    background-color: rgba(24, 141, 129, 0.8) !important;
    color: white;
}

.custom-sort-header .mat-sort-header-arrow {
    color: blue; /* Defina a cor desejada para a seta do MatSort */
  }