<div class="container pt pb">
  <h2 class="text-center">Listagem de Moedas</h2>

  <div class="container mt-4">
    <div class="row">
      <div class="col-md-6 mx-auto">
        <div class="d-flex">
          <input type="text" class="form-control" [(ngModel)]="busca" (input)="buscarCoins()"
            placeholder="Buscar por moeda">
          <button class="btn btn-secondary ms-2" (click)="limparBusca()">Limpar</button>
        </div>
      </div>
    </div>
  </div>

  <div class="container-mod">
    <div class="select-container">
      <label for="filtroOrdenacao">Filtrar por:</label>
      <select class="form-select" id="filtroOrdenacao" [(ngModel)]="filtroOrdenacao"
        (change)="ordenarPor(filtroOrdenacao)">
        <option value="symbolAsc">Símbolo (ordem crescente)</option>
        <option value="symbolDesc">Símbolo (ordem decrescente)</option>
        <option value="descriptionAsc">Descrição (ordem crescente)</option>
        <option value="descriptionDesc">Descrição (ordem decrescente)</option>
      </select>
    </div>
  </div>

  <div *ngIf="loading" class="text-center mt-3">
    <div class="spinner-border text-primary" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
    <p>Carregando...</p>
  </div>

  <table class="table mt-4 table-rounded" *ngIf="!loading">
    <thead>
      <tr>
        <th class="text-center thread-color">Símbolo</th>
        <th class="thread-color">Descrição</th>
      </tr>
    </thead>
    <tbody>
      <tr
        *ngFor="let coin of coinList | paginate: { itemsPerPage: itensPorPagina, currentPage: paginaAtual }; let i = index">
        <td class="text-center">{{ coin.code }}</td>
        <td>{{ coin.description }}</td>
      </tr>
    </tbody>
  </table>

  <div class="pagination">
    <label for="itensPorPagina">Itens por página:</label>

    <select class="form-select itens" id="itensPorPagina" [(ngModel)]="itensPorPagina" (change)="atualizarPaginacao(1)">
      <option>5</option>
      <option>10</option>
      <option>15</option>
      <option>20</option>
      <option>25</option>
      <option>30</option>
    </select>

  </div>

  <div class="pagination">
    <pagination-controls (pageChange)="atualizarPaginacao($event)" [maxSize]="5" [directionLinks]="true"
      [responsive]="true" [previousLabel]="'Anterior'" [nextLabel]="'Próximo'">
    </pagination-controls>
  </div>

</div>