@media (min-width: 602px) {

    .pagination ::ng-deep .ngx-pagination .current {
        background: yellow;
        color: black;
        font-weight: 700;
        border-radius: 50%;
    }

    .pagination ::ng-deep ul>li:not(.active)>a {
        border-radius: 10px;
    }


    .pagination ::ng-deep ul>li>a:hover {
        background-color: #bfbfbf;
        color: black;
    }

}

@media (max-width: 601px) {

    .pagination ::ng-deep ul>li:not(.active)>a {
        color: black !important;
        background-color: yellow !important;
        margin: 10px;
        border-radius: 10px;
    }

}

.pt {
    padding-top: 80px;
}

.pb {
    padding-bottom: 30px;
}

label {
    color: #fff;
    padding: 10px;
}

.table-rounded {
    border-radius: 5px;
    overflow: hidden;
}

.thread-color {
    background-color: #127369;
    color: #fff;
}

.pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    background-color: #127369;
    border-radius: 5px;
    padding: 20px;
    color: #fff;
}

.container-mod {
    display: flex;
    justify-content:center;
    align-items: center;
    background-color: #127369;
    padding: 20px;
    border-radius: 5px;
    margin-top: 20px;
}

.select-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

select {
    margin: 5px;
    padding: 5px;
    width:  250px;
}

.itens {
    margin: 5px;
    padding: 5px;
    width:  60px;
}

.pagination ::ng-deep  nav > ul {
    margin-right: 30px;
    padding: 0;
    margin: 0;
}
