.navbar {
  background-color: #10403B;
}

.navbar-nav .router-link-active {
  color: yellow;
}

.navbar-brand {
  display: flex;
  align-items: center;
  scroll-behavior: none;
}

.navbar-toggler>.close {
  display: inline;
}

.navbar-toggler.collapsed>.close,
.navbar-toggler:not(.collapsed)>.navbar-toggler-icon {
  display: none;
}

.mat-icon {
  font-size: 24px;
  margin-left: 5px;
  color: lightgreen;
}