<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" routerLink="/">
      {{title}}
      <mat-icon>money</mat-icon>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/" routerLinkActive="router-link-active"
            [routerLinkActiveOptions]="{exact: true}">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/coin-list" routerLinkActive="router-link-active"
            [routerLinkActiveOptions]="{exact: true}">Listagem de Moedas</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/currency-conversion" routerLinkActive="router-link-active"
            [routerLinkActiveOptions]="{exact: true}">Conversão de Moedas</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/coin-history" routerLinkActive="router-link-active"
            [routerLinkActiveOptions]="{exact: true}">Histórico de Conversões</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<router-outlet></router-outlet>