.pt {
    padding-top: 80px;
}

.container-mod {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-color: #127369;
    padding: 20px;
    border-radius: 5px;
    margin-top: 20px;
    padding-bottom: 0;
}