.pt{
    padding-top: 80px;
}
.container-mod {
    display: flex;
    justify-content:center;
    align-items: center;
    background-color: #127369;
    padding: 20px;
    border-radius: 5px;
    margin-top: 20px;
}

.select-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

mat-form-field {
    margin: 5px;
    padding: 5px;
    width:  180px;
}