<div class="container pt pb">
  <h2 class="text-center">{{title}}</h2>

  <form [formGroup]="formConverter" (ngSubmit)="submit()">
    <div class="container-coins">

      <mat-form-field appearance="fill">
        <mat-label class="text-dark">Moeda de origem</mat-label>
        <mat-select formControlName="moedaOrigem" name="moedaOrigem" (selectionChange)="limparErro()">
          <mat-option *ngFor="let moeda of moedas" [value]="moeda.code" title="{{ moeda.description }}">{{
            moeda.code
            }} — {{
            moeda.description
            }} </mat-option>
        </mat-select>
        <mat-error *ngIf="formConverter.get('moedaOrigem')?.hasError('required')">Campo
          obrigatório</mat-error>
        <mat-error
          *ngIf="formConverter.get('moedaOrigem')?.hasError('equalCurrencies') && formConverter.get('moedaOrigem')?.value">Moeda
          não pode ser
          igual</mat-error>

      </mat-form-field>

      <div class="p-3" title="Inverter moedas">
        <div class="icon-container" (click)="inverterMoedas()">
          <mat-icon>swap_horiz</mat-icon>
        </div>
      </div>

      <mat-form-field appearance="fill">
        <mat-label class="text-dark">Moeda de destino</mat-label>
        <mat-select formControlName="moedaDestino" name="moedaDestino" (selectionChange)="limparErro()">
          <mat-option *ngFor="let moeda of moedas" [value]="moeda.code" title="{{ moeda.description }}">{{
            moeda.code
            }} — {{
            moeda.description
            }}</mat-option>
        </mat-select>
        <mat-error *ngIf="formConverter.get('moedaDestino')?.hasError('required')">Campo
          obrigatório</mat-error>
        <mat-error
          *ngIf="formConverter.get('moedaDestino')?.hasError('equalCurrencies') && formConverter.get('moedaDestino')?.value">Moeda
          não pode ser
          igual</mat-error>

      </mat-form-field>
    </div>

    <div class="container-value">
      <mat-form-field appearance="fill">
        <span matPrefix *ngIf="!this.formConverter.value.moedaOrigem" class="p-2 fw-bold">$</span>
        <span matTextPrefix title="{{ getDescricao(formConverter.get('moedaOrigem')?.value) }}"
          *ngIf="this.formConverter.value.moedaOrigem"
          class="p-2 fw-bold">{{this.formConverter.value.moedaOrigem}}</span>
        <mat-label class="text-dark">Valor da moeda</mat-label>
        <input matInput currencyMask class="text-dark" formControlName="valorConversao" name="valorConversao"
          step="0.01" placeholder="Ex.: 0.01" [options]="{align: 'left', prefix: '' }" inputmode="numeric" #inputElement
          (keydown.enter)="inputElement.blur()" autocomplete="off" aria-valuemin="0.01">
        <mat-icon (click)='limparValor()' *ngIf="this.formConverter.value.valorConversao" matSuffix>close</mat-icon>
        <mat-error *ngIf="formConverter.get('valorConversao')?.hasError('required')">
          Valor nulo ou inválido
        </mat-error>
        <mat-error *ngIf="formConverter.get('valorConversao')?.hasError('min')">Valor deve ser maior que 0</mat-error>
      </mat-form-field>
    </div>


    <div class="container-button">
      <button type="submit" class="btn btn-success" [disabled]="!formConverter.valid">CONVERTER</button>
    </div>
  </form>

  <div *ngIf="loading" class="text-center mt-3">
    <div class="spinner-border text-success" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
    <p>Convertendo...</p>
  </div>

  <div *ngIf="isDataReturned && !loading" class="result">
    <p> <strong>Resultado:</strong> {{ valor }} em <strong>{{ simboloOrigem}}</strong> equivale a {{valorConvertido}} em
      <strong>{{
        simboloDestino }}</strong>
    </p>
    <p><strong> Taxa de conversão: </strong> {{ taxaConversao }}</p>
  </div>

  <div *ngIf="msgError && !loading" class="error">
    <p>Ocorreu um erro inesperado, tente novamente!</p>
  </div>

  <div class="d-flex justify-content-center fixed-bottom" *ngIf="msgErrorGet">
    <div class="alert alert-danger fade show" role="alert">
      <mat-icon class="mr-2 error-icon">close</mat-icon>
      Erro ao carregar moedas!
    </div>
  </div>

</div>