<div class="container pt">
  <h2 class="text-center">Conversão de Moedas</h2>
  <div class="container-mod">

    <mat-form-field appearance="fill">
      <mat-label class="text-dark">Moeda de origem</mat-label>
      <mat-select [(ngModel)]="moedaOrigemSelecionada" panelClass="mat-select-panel">
        <mat-option *ngFor="let moeda of moedasOrigem" [value]="moeda">{{ moeda }}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label class="text-dark">Moeda de destino</mat-label>
      <mat-select [(ngModel)]="moedaDestinoSelecionada" panelClass="mat-select-panel" class="text-dark">
        <mat-option *ngFor="let moeda of moedasDestino" [value]="moeda">{{ moeda }}</mat-option>
      </mat-select>
    </mat-form-field>

  </div>

</div>