@import "~bootstrap/dist/css/bootstrap.min.css";
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

* {
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  background-color: #8aa6a3;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  --mat-select-focused-arrow-color: #008000;
  --mat-option-selected-state-label-text-color: #008000;
}

::-webkit-scrollbar {
  width: 20px;
  height: 30px;

}

::-webkit-scrollbar-track {
  background-color: #bcbcbc;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: #127369;
  border-radius: 5px;
}

.navbar-nav .active {
  background-color: #007bff;
  color: #fff;
}

mat-form-field {
  margin: 10px;
}

.mdc-text-field--filled:not(.mdc-text-field--disabled) {
  background-color: #e0e0e0;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

.mdc-text-field--filled .mdc-line-ripple::after {
  border-bottom-color: #008000;
}

.mat-primary .mat-pseudo-checkbox-checked.mat-pseudo-checkbox-minimal::after {
  color: #008000;
}

.mat-mdc-table .mdc-data-table__header-row {
  background-color: #127369;
}

.mat-mdc-table .mdc-data-table__header-cell {
  color: #fff;
}

.mat-sort-header-arrow {
  color: #fff;
}

.check-circle,
.error-icon {
  vertical-align: middle;
}

.alert {
  max-width: 400px;
}

.alert.fade.show {
  animation: fadeIn 0.5s;
}

.alert.fade {
  animation: fadeOut 0.5s;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}