@import "~bootstrap/dist/css/bootstrap.min.css";

body{
    background-color: #8aa6a3;
}

.navbar-nav .active {
    background-color: #007bff; 
    color: #fff; 
  }

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
