@media (max-width: 280px) {
    @media (max-width:653px) {
        .container {
            padding-top: 400px;
            padding-bottom: 400px;
        }
    }

}

@media (max-height:600px) {
    .container {
        padding-top: 350px;
        padding-bottom: 350px;
    }
}

@media (max-height:360px) {
    .container {
        padding-top: 300px;
        padding-bottom: 300px;
    }
}

@media (max-height:280px) {
    .container {
        padding-top: 360px;
        padding-bottom: 360px;
    }

    img {
        width: 150px;
        height: 125px;
    }

}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;

}

.content {
    text-align: center;
    background-color: #BFBFBF;
    border-radius: 10px;
    padding: 30px;
    width: 90%;
}

img {
    width: 200px;
    height: 166px;
    margin-top: 30px;
}

p {
    margin-top: 30px;
}

a {
    text-decoration: none;
    color: black;
}

@media (max-width: 280px) {
    img {
        width: 150px;
        height: 125px;
    }
}