@media (max-width: 280px) {
    @media (max-width:653px) {
        .container {
            padding-top: 400px;
            padding-bottom: 400px;
        }
    }

}

@media (max-height:600px) {
    .container {
        padding-top: 350px;
        padding-bottom: 350px;
    }
}

@media (max-height:360px) {
    .container {
        padding-top: 300px;
        padding-bottom: 300px;
    }
}

@media (max-height:280px) {
    .container {
        padding-top: 360px;
        padding-bottom: 360px;
    }

    img {
        width: 150px;
        height: 125px;
    }

}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;

}

.content {
    text-align: center;
    background-color: #BFBFBF;
    border-radius: 10px;
    padding: 30px;
    width: 90%;
}

img {
    width: 200px;
    height: 166px;
    margin-top: 30px;
}

p {
    margin-top: 30px;
}

a {
    text-decoration: none;
    color: black;
}

.btn-success a {
    color: #fff;
    text-transform: uppercase;
    padding: 2px;
}

.icon-button {
    vertical-align: middle;
    margin-right: 5px;
}

.link {
    border-radius: 30px;
    background-color: #dad5d5;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}

@media (max-width: 320px) {
    img {
        width: 150px;
        height: 125px;
    }

}

@media (max-width: 333px) {
    .btn-success a {
        font-size: 12px;
        padding: 10px;
    }
}


@media (max-width: 280px) {

    .btn-success a {
        font-size: 11px;
        padding: 0;
    }

    .icon-button {
        font-size: 18px;
    }
}